@model OnlineShoppingStoreMVCUsingLinq.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{<div class="container">
        <fieldset>
            <legend>Login</legend>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-12 form-group">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.UserName)
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                @*<input type="text" class="form-control" name="username" id="username5" placeholder="enter your username" />*@
                                @Html.EditorFor(model => model.UserName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                @*<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />*@
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @*@Html.EditorFor(model => model.Password)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.RememberMe)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.RememberMe)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" id="btnLogin" class="btn btn-primary btn-lg btn-block login-button" value="Login"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>@Html.ActionLink("Register", "Register", "Account") if you don't have a local account.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Password').addClass('form-control');
            $('#UserName').addClass('form-control');
        });
    </script>
}
